<template>
  <div class="page">
      <content-header/>
      <div id="main" itemprop="mainContentOfPage" role="main" tabindex="-1" class="main-content">
        <router-view/>
      </div>
  </div>
</template>

<script>
  import ContentHeader from '@/components/ContentHeader';

  export default {
    components: {
      'content-header': ContentHeader
    },
    name: 'App',
  };
</script>
